@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.header{
    background-image: url(/images/bg-main-mobile.png);
    width: 100%;
    height: 32vh;
    position: relative;
}
.front_img, .back_img{
    position: absolute;
    width: 70%;
    height:10rem ;
}
.front_img{
    top: 6.8rem;
    left: 1.4rem;
    /* position: relative; */
}
.back_img{
    right: 1.4rem;
    top: 1.2rem;
}
.white_circle{
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 8rem;
    left: 12%;
}
.transparent_circle{
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 8.5rem;
    left: 25%;
}
.card_details{
    position: absolute;
    color: #ffffff;
    top: 12rem;
    left: 12%;
}
.names_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    font-size:small;
    padding: 1rem 0px;
}
.cardNum{
    letter-spacing: .1rem;
}
.cvc{
    position: absolute;
    color: #ffffff;
    top: 5.6rem;
    right: 15%;
    letter-spacing:.1rem ;
}
.container{
    /* position: relative; */
    max-width: 420px;
    min-width: 355px;
    margin: 0px auto;
    box-shadow: 0px 0px 20px 0px;
    height: 100vh;
}
.body{
    margin: 6rem auto;
    /* position: absolute; */
    /* display: none; */
}
label{
    text-transform: uppercase;
    width: 80%;
}
/* .body div{
    margin: 2rem 2rem;
} */
input{
    width: 100%;
    margin: 1rem auto;
    height: 2.4rem;
    border-radius: 7px;
    border: 1.5px solid rgba(0, 0, 0, 0.216);
    padding: 0px .6rem;
    outline: none;
}
input:focus{
    border-color: hsl(278, 84%, 31%);
}

input::placeholder{
    color: rgba(0, 0, 0, 0.216);
}
form div {
    margin: 0px auto;
    width: 80%;
    margin-top: .7rem;
}
form div div{
    width: initial;
}
.date_div input{
    width: 4rem;
}
.cvc_div input{
    width: 9rem;
}
.date_cvc{
    display: flex;
    justify-content: space-between;
}
#submit{
    color: #ffffff;
    background-color:hsl(278, 68%, 11%) ;
    cursor: pointer;
}

.error{
    margin-top: -.5rem;
    font-size: x-small;
    font-weight: 800;
    padding: 0px 0px 0px .5rem;
    color: rgba(255, 0, 0, 0.661);
}
.date_error{
    padding: 0px;
}
/* ==================================================== */
/* thank you design */
.thanks{
    text-align: center;
    width: 80%;
    margin: 6rem auto;
    line-height: 3rem;
    display: none;
}
.thanks input{
    color: #ffffff;
    background-color:hsl(278, 68%, 11%) ;

}
/* =================================================== */
/* for laptop/desktop size */
@media (min-width: 1300px){
    .container{
        display: grid;
        grid-template-columns: 30% 70%;
        min-width: 1300px;
        max-width: 1500px;

    }
    .header{
        background-image: url(/images/bg-main-desktop.png);
        height: 100vh;
        width: 100%;
    }
    form{
        width: 140%;
    }
    #continue{
        max-width: 40%;
    }
    .thanks{
        margin: auto;
    }
    .front_img{
        top: 6.6rem;
        left: 55%;
    }
    .back_img{
        top: 18rem;
        left: 70%;
    }
    .card_details{
        top: 12rem;
        left: 64%;
    }
    .cardNum{
        width: 14rem;
    }

    .white_circle{
        top: 8rem;
        left: 64%;
    }
    .transparent_circle{
        top: 8.5rem;
        left: 75%;
    }
    .cvc{
        top: 22.4rem;
        left: 120%;
    }
}